@import url("https://fonts.googleapis.com/css?family=VT323");

::selection {
    color:#FFFFFF; 
    background:transparent;
}

::-moz-selection {
    color:#FFFFFF; 
    background:transparent;
}

*{
    margin: 0;
    padding: 0;
    font-family: "VT323";
}
body{
    background-color: #fffffb;
}
.align-center {
    margin-left: auto;
    margin-right: auto;
}
header{
    width: 340px;
    font-size: 0;
}
canvas{
    display: block;
    border-style: solid;
    border-width: 10px;
    border-color: #4D5139;
}
canvas:focus{
    outline: none;
}

/* Top Styles */
h1{
    display: inline-block;
    width: 100px;
    font-size: 32px;
    color: #4D5139;
}
.score{
    display: inline-block;
    width: 240px;
    font-size: 20px;
    color: #4D5139;
    text-align: right;
}
.score-value{
    font-size: inherit;
}

/* Menu Screen Style */
#menu{
    display: block;
    width: 340px;
    padding-top: 95px;
    padding-bottom: 95px;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #4D5139;
}

#menu h2{
    -webkit-animation: logo-ani 1000ms linear infinite;
            animation: logo-ani 1000ms linear infinite;
    margin-bottom: 30px;
    
}

#menu a{
    font-size: 30px;
}

canvas {
    margin-left: auto;
    margin-right: auto;
}
#face-detector {
    display: none;
}

#setting {
    display: none;
}

#menu {
    display: block;
}

#restart-button {
    display: none;
}

#start-button {
    display: none;
}

#gameover {
    display: none;
}